*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container {
    width: 80%;
    margin: auto;
}

.maxi-box{
    width: 100%;
}

.clearfix::after{
    content: "";
    clear:both;
    display: table;
}

.inner-float{
    float: left;
    width: 32%;
    padding: 5px;
    margin: 5px;
}

.img1,
.img2,
.img3,
.img4,
.img5,
.img6{
    width: 100%;
    height: 95%;
    object-fit: contain;
}

.debug .container {
    border: 2px dashed red;
    height: 700px;
}

.debug .maxi-box{
    background-color: coral;
    height: 49%;
    margin: 2px;
}

.debug .inner-float{
    height: 320px;
    background-color: yellow;
    border: 2px solid;
}