*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container {
    width: 80%;
    margin: auto;
}

.maxi-box{
    width: 100%;
}

.clearfix::after{
    content: "";
    clear:both;
    display: table;
}

.inner-float{
    float: left;
    width: 32%;
    padding-left: 5px;
    margin: 5px;
}

.img1,
.img2,
.img3,
.img4,
.img5,
.img6{
    width: 100%;
    height: 90%;
    object-fit: contain;
}

.txt-box{
    height: 25px;
    padding-left: 6px;
}

.firma{
    font-size: 4px;
    padding-left: 27px;
    margin-left: 5px;

}

.descrizione{
    font-size: 6px;
    padding-left: 27px;
    margin-left: 5px;
}

.price-sold{
    font-size: 5px;
    color: red;
    padding-left: 27px;
    margin-left: 5px;
    margin-right: 3px;
    float: left;
}

.price-old{
    font-size: 4px;
    text-decoration: line-through;
    float: left;
}

.debug .container {
    border: 2px dashed red;
    height: 700px;
}

.debug .maxi-box{
    background-color: coral;
    height: 49%;
    margin: 2px;
}

.debug .inner-float{
    height: 320px;
    background-color: yellow;
    border: 2px solid;
}